<!doctype html>
<html ng-app="exampleDialog">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<title>ngDialog.js by likeastore</title>
		<link rel="shortcut icon" href="./img/favicon.png" />
		<link rel="apple-touch-icon" href="./img/favicon.png"/>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Montserrat:700|Pacifico' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="./css/ngDialog.css">
		<link rel="stylesheet" href="./css/ngDialog-theme-default.css">
		<link rel="stylesheet" href="./css/ngDialog-theme-flat.css">
		<link rel="stylesheet" href="./css/style.css">

		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="MainCtrl">
		<div class="bg"></div>

		<div class="header">
			<a class="github-link" href="https://github.com/likeastore/ngDialog">Star on GitHub</a>
			<h1>ngDialog</h1>
			<div class="desc">
				Modals and popups provider for <a href="http://angularjs.org" target="_blank">Angular.js</a> applications. No dependecies. Highly customizable.
			</div>
			<div class="buttons">
				<a href="#" ng-click="open()" class="demo">Demo</a>
				<a href="https://github.com/likeastore/ngDialog#api" class="docs">★ Docs</a>
			</div>
		</div>

		<a href="https://twitter.com/share" class="twitter-share-button" data-via="likeastore" data-related="likeastore">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

		<script type="text/ng-template" id="firstDialog">
			<div class="ngdialog-message">
				<h2>Native Angular.js solution</h2>
				<div>With ngDialog you don't need jQuery or Bootstrap to create dialogs for ng-app:</div>
				<ul class="mt">
					<li>Use it in controllers, factories or directives</li>
					<li>Create your own directives</li>
					<li>Style all UI and templates</li>
					<li>Configure themes</li>
					<li>Add animations and effects</li>
				</ul>
				<div class="mt">Module is shipped with both <code class="small-font">ngDialog</code> service and default directive.</div>
			</div>
			<div class="ngdialog-buttons mt">
				<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="next()">►</button>
			</div>
		</script>

		<script type="text/ng-template" id="secondDialog">
			<div class="ngdialog-message">
				<h2>And even more!</h2>
				<ul class="mt">
					<li>Load your templates as strings, ng-template tags or html partials</li>
					<li>ngDialog.js is < 2kb when minified</li>
					<li>It has simple and extendable API</li>
				</ul>
				<div class="mt">Spread a word about it:</div>
			</div>
			<div class="mt">
				<a href="#" class="action-btn">Tweet</a>
				<a href="#" class="action-btn">Star</a>
				<a href="#" class="action-btn read">Read docs</a>
			</div>
		</script>

		<script src="./bower_components/angular/angular.min.js"></script>
		<script src="./js/ngDialog.min.js"></script>
		<script>
			var app = angular.module('exampleDialog', ['ngDialog']);

			app.controller('MainCtrl', function ($scope, ngDialog) {
				$scope.open = function () {
					ngDialog.open({
						template: 'firstDialog',
						controller: 'FirstDialogCtrl',
						className: 'ngdialog-theme-default ngdialog-theme-custom'
					});
				};
			});

			app.controller('FirstDialogCtrl', function ($scope, ngDialog) {
				$scope.next = function () {
					ngDialog.close('ngdialog1');
					ngDialog.open({
						template: 'secondDialog',
						className: 'ngdialog-theme-flat ngdialog-theme-custom'
					});
				};
			});
		</script>
	</body>
</html>